body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #333;
}

label,
input {
  display: block;
  margin-bottom: 10px;
  margin: auto;
  width: 100%;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

#accountStatus {
  margin-top: 20px;
  font-weight: bold;
}
